services:
  n8n:
    build:
      context: .
      dockerfile: ./dockerfile
    container_name: n8n
    environment:
      - N8N_BASIC_AUTH_ACTIVE=false
      - N8N_HOST=n8n
      - N8N_PORT=5678
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - OTEL_SERVICE_NAME=n8n
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_LOG_LEVEL=info
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      # === Postgres ===
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=n8n
      - DB_POSTGRESDB_LOGGING_ENABLED=false
    ports:
      - "5678:5678"
    volumes:
      - ./data:/root/.n8n
      - ./tracing.js:/otel/tracing.js
      - ./n8n-otel-instrumentation.js:/otel/n8n-otel-instrumentation.js
    depends_on:
      - otel-collector
      - postgres  
    restart: unless-stopped
    networks:
      - observability

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.90.1
    container_name: otel-collector
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    ports:
      - "8888:8888"  # Prometheus metrics
    depends_on:
      - jaeger
    restart: unless-stopped
    networks:
      - observability

  jaeger:
    image: jaegertracing/all-in-one:1.52
    container_name: jaeger
    ports:
      - "16686:16686"  # UI
      - "4317:4317"    # OTLP gRPC
      - "4318:4318"    # OTLP HTTP
    restart: unless-stopped
    networks:
      - observability

  prometheus:
    image: prom/prometheus:v2.54.1
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - observability

  grafana:
    image: grafana/grafana:11.0.0
    container_name: grafana-n8n
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - observability
    depends_on:
      - prometheus
      - jaeger

  postgres:
    image: postgres:15 
    container_name: postgres
    environment:
      - POSTGRES_USER=n8n
      - POSTGRES_PASSWORD=n8n
      - POSTGRES_DB=n8n
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    ports:
      - "5435:5432"
    networks:
      - observability

networks:
  observability:
    driver: bridge

volumes:
  postgres_data:
